<%= link_to 'Up', project_todo_lists_path(@project) %><br />
<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @todo_list.project.name %>
</p>

<p>
  <strong>Todo list name:</strong>
  <%= @todo_list.name %>
</p>

<p>
  <%= link_to 'Todos', todo_list_todos_path(@todo_list) %>
</p>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', project_todo_lists_path(@project) %>
